@charset "UTF-8";

.form-label {
  margin-bottom: 0.5rem;
}

.col-form-label {
  padding-top: calc(0.375rem + 1px);
  padding-bottom: calc(0.375rem + 1px);
  margin-bottom: 0;
  font-size: inherit;
  line-height: 1.5;
}

.col-form-label-lg {
  padding-top: calc(0.5rem + 1px);
  padding-bottom: calc(0.5rem + 1px);
  font-size: 1.25rem;
}

.col-form-label-sm {
  padding-top: calc(0.25rem + 1px);
  padding-bottom: calc(0.25rem + 1px);
  font-size: 0.875rem;
}


/* 버튼 */
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}
.button5 {
  background-color: white;
  color: black;
  border: 2px solid #555555;
}

.button5:hover {
  background-color: #555555;
  color: white;
}

.buttonModify {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 2px 10px;
  font-size: 13px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.buttonModify {
  background-color: white;
  color: black;
  border: 2px solid #555555;
}

.buttonModify:hover {
  background-color: #555555;
  color: white;
}

input[type="submit"] {
	zoom: 0.3;
}

/* 텍스트필드 */
input[type=text]{
    height:20px;
    width:150px;
    border-radius: 4px;
    font-size: 15px;
    text-align: center;
}




/* 리스트 테이블 */
.mainTable {
	width: 600px;
	margin: auto;
	
}
.mainTable table{
	border-collapse: collapse; 
	border: 1px solid #ddd; 
	width: 100%;
}
.mainTable table tr:nth-child(2), .mainTable table tr:nth-child(4), 
.mainTable table tr:nth-child(6), .mainTable table tr:nth-child(8),
.mainTable table tr:nth-child(10) {
	background-color: #f2f2f2;
}
.mainTable table tr td {
	border: 1px solid #ddd;
	text-align: center
}
.mainTable table tr td:nth-child(1) {
	width: 200px; 
}

.mainTable table tr td:nth-child(2) {
	padding: 8px; 
	width: 400px; 
}

.mainTable table tr th {
	background-color: #444444; 
	border: 1px solid #ddd; 
	color: white; 
	padding-bottom: 12px; 
	padding-top: 12px; 
	text-align: center;
}

.mainTable table:nth-child(2) tr td:nth-child(1),
.mainTable table:nth-child(2) tr td:nth-child(2),
.mainTable table:nth-child(2) tr td:nth-child(3) {
	width: 200px;
}

.mainTable table:nth-child(3) tr td:nth-child(1),
.mainTable table:nth-child(3) tr td:nth-child(2) {
	width: 300px;
}


